@import url('https://fonts.googleapis.com/css?family=Catamaran|Raleway&display=swap');

/* Main text is monserrat*/
body {
  font-family: "Times", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  color: #444;
  font-size: 180%;
  text-align: justify;
}

/* Give headers playfair font */
h1 {
  font-family: "Times", serif;
  color: #000;
  font-size: 180%;
  text-align: center;
}
h2,
h3 {
  font-family: "Times", serif;
  color: #000;
  font-weight: 400;
}